/* CSS classes used:
    bh-theme-name
    bh-global-header
    bh-side-header
    bh-role-header
    bh-minmaxstr
    bh-string-property
    bh-string-value
    bh-value-length
    bh-inbounds-true
    bh-inbounds-false
    bh-hr
*/

.bh-theme-name {
    font-weight: bold;
}

.bh-string-property {
    color: lime;
    font-weight: bold;
}

.bh-string-value {
    font-size: small;
}

.bh-inbounds-true {
    color: green;
    font-weight: bold;
}

.bh-inbounds-false {
    color: red;
    font-weight: bold;
}

.bh-value-length {
    font-weight: bold;
}

.bh-value-length:before {
    content: "[";
}

.bh-value-length:after {
    content: "]";
}