/* doc-element, doc-element-property, toggle-visibility, doc-element-content, doc-element-description, doc-badge */

body {
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'DejaVu Sans', Lucida, Arial, Helvetica, sans-serif;
}

ul {
    list-style-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAANAQMAAABb8jbLAAAABlBMVEX///8AUow5QSOjAAAAAXRSTlMAQObYZgAAABNJREFUCB1jYEABBQw/wLCAgQEAGpIDyT0IVcsAAAAASUVORK5CYII=);
    list-style-type: square;
}

.doc-element-property, .doc-note-annotate {
    font-weight: bold;
    font-size: 14px;
    color: rgb(51, 102, 153);
}

.doc-note-annotate {
    font-size: 13px;
}

.doc-element-content {
    margin-left: 20px;
    font-size: 14px;
}

.doc-element-required {
    color: red;
}

.doc-element-optional {
    color: blue;
}

.doc-element-notes-header, .doc-element-summary-header {
    font-weight: bold;
}

.show-all, .hide-all {
    margin-top: -28px;
    cursor: pointer;
}

.doc-badge {
    border-bottom-color: rgb(129, 129, 81);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgb(129, 129, 81);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgb(129, 129, 81);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgb(129, 129, 81);
    border-top-style: solid;
    border-top-width: 1px;
    font-size: 12px;
    font-weight: bold;
    white-space: nowrap;
    display: inline;
    color: rgb(51, 51, 51);
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    font-size: 8px;
}